<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	<!-- Mybatis 설정 파일임을 명시하기 위한 DTD 선언 -->
  
<configuration>
	
	<!-- Snake Case(DB Colume)와 Camel Case(POJO 변수)를 매치해주는 설정  -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
</configuration>